<a href="https://colab.research.google.com/github/HongTuoiNguyen02/BTVN_Nguyen-Hong-Tuoi_20104071/blob/main/Tu%E1%BA%A7n_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
with open ('text.txt', mode='w') as accounts:
  accounts.write ('1 Nguen Van A 8.0\n')
  accounts.write ('2 Le Thi B 6.8\n')

In [ ]:
with open ('text1.txt', mode='w') as accounts:
  print ('7:00 Nguyen Van A', file = accounts)
  print ('7:01 Le Thi B', file = accounts)

In [ ]:
with open ('text.txt', mode='v') as accounts:
  print (f'{'name':<20}{'score':>20}')
  for record in accounts:
    name, score = record.split () 
    print (f'{name:<20}{score:>20}')

In [ ]:
import pandas as pd
url='/csv.csv'
dataframe = pd.read_csv(url)
dataframe.head(5)

   STT      MSSV     Ho va ten  Diem Khoa
0    1  20104001  Nguyen Van A     5  CLC
1    2  20104002  Nguyen Van A     4   DT
2    3  20104003  Nguyen Van A     3   DT
3    4  20104004  Nguyen Van A     5  CLC
4    5  20104005  Nguyen Van A     7  CLC

In [ ]:
import pandas as pd
dataframe=pd.DataFrame ()
dataframe ['Name']=['Nguyen Van A','Le Thi B']
dataframe ['Student.ID']=[20104001, 20104002]
dataframe ['Score']=[8.0,9.0]
dataframe

           Name  Student.ID  Score
0  Nguyen Van A    20104001    8.0
1      Le Thi B    20104002    9.0

In [ ]:
import pandas as pd
url = '/csv.csv'
dataframe = pd.read_csv(url)
dataframe.head(10)
dataframe [:4]
dataframe = dataframe.set_index (dataframe['Ho va ten'])
dataframe.loc ['Nguyen Van A']

              STT      MSSV     Ho va ten  Diem Khoa
Ho va ten
Nguyen Van A    1  20104001  Nguyen Van A     5  CLC
Nguyen Van A    2  20104002  Nguyen Van A     4   DT
Nguyen Van A    3  20104003  Nguyen Van A     3   DT
Nguyen Van A    4  20104004  Nguyen Van A     5  CLC
Nguyen Van A    5  20104005  Nguyen Van A     7  CLC
Nguyen Van A    6  20104006  Nguyen Van A     8  CLC
Nguyen Van A    7  20104007  Nguyen Van A     6   DT
Nguyen Van A    8  20104008  Nguyen Van A     2   DT
Nguyen Van A    9  20104009  Nguyen Van A     4   DT
Nguyen Van A   10  20104010  Nguyen Van A    10  CLC

In [ ]:
import pandas as pd
url = '/csv.csv'
dataframe = pd.read_csv(url)
dataframe.head(10)
dataframe[:4]
dataframe = dataframe.set_index(dataframe['Khoa'])
dataframe.loc['CLC']
dataframe[(dataframe['Khoa']=='DT') & (dataframe['Diem']>=2)]

      STT      MSSV     Ho va ten  Diem Khoa
Khoa
DT      2  20104002  Nguyen Van A     4   DT
DT      3  20104003  Nguyen Van A     3   DT
DT      7  20104007  Nguyen Van A     6   DT
DT      8  20104008  Nguyen Van A     2   DT
DT      9  20104009  Nguyen Van A     4   DT

In [ ]:
import pandas as pd
url = '/csv.csv'
dataframe = pd.read_csv(url)
dataframe.head(10)
dataframe['Khoa'].unique()

array(['CLC', 'DT'], dtype=object)

In [ ]:
import pandas as pd
url = '/csv.csv'
dataframe = pd.read_csv(url)
dataframe.head(10)
dataframe['Khoa'].value_counts()

CLC    5
DT     5
Name: Khoa, dtype: int64

In [ ]:
import pandas as pd
url = '/csv.csv'
dataframe = pd.read_csv(url)
dataframe.drop('Khoa',axis=1).head(10)

   STT      MSSV     Ho va ten  Diem
0    1  20104001  Nguyen Van A     5
1    2  20104002  Nguyen Van A     4
2    3  20104003  Nguyen Van A     3
3    4  20104004  Nguyen Van A     5
4    5  20104005  Nguyen Van A     7
5    6  20104006  Nguyen Van A     8
6    7  20104007  Nguyen Van A     6
7    8  20104008  Nguyen Van A     2
8    9  20104009  Nguyen Van A     4
9   10  20104010  Nguyen Van A    10

In [ ]:
import pandas as pd
url = '/csv.csv'
dataframe = pd.read_csv(url)
dataframe.groupby('Diem').count()

      STT  MSSV  Ho va ten  Khoa
Diem
2       1     1          1     1
3       1     1          1     1
4       2     2          2     2
5       2     2          2     2
6       1     1          1     1
7       1     1          1     1
8       1     1          1     1
10      1     1          1     1

In [ ]:
import pandas as pd
url = '/csv.csv'
dataframe = pd.read_csv(url)
dataframe.groupby('Diem').mean()

       STT        MSSV
Diem
2      8.0  20104008.0
3      3.0  20104003.0
4      5.5  20104005.5
5      2.5  20104002.5
6      7.0  20104007.0
7      5.0  20104005.0
8      6.0  20104006.0
10    10.0  20104010.0

In [ ]:
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [ ]:
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
import pandas as pd
url = '/medals.csv'
dataframe = pd.read_csv(url)
dataframe.head(2311)
dataframe[:2310]
dataframe = dataframe.set_index(dataframe['Medal'])
dataframe.loc['Gold']
dataframe[(dataframe['Medal']=='Gold') & (dataframe['Event gender']=='W') & (dataframe['NOC']=='CAN')]

array(['AUT', 'BEL', 'CAN', 'FIN', 'FRA', 'GBR', 'NOR', 'SUI', 'SWE',
       'USA', 'GER', 'TCH', 'HUN', 'ITA', 'FRG', 'NED', 'EUA', 'JPN',
       'POL', 'URS', 'PRK', 'GDR', 'ROU', 'ESP', 'LIE', 'BUL', 'YUG',
       'CHN', 'EUN', 'KOR', 'LUX', 'NZL', 'AUS', 'BLR', 'KAZ', 'RUS',
       'SLO', 'UKR', 'UZB', 'CZE', 'DEN', 'CRO', 'EST', 'LAT', 'SVK'],
      dtype=object)

In [ ]:
from typing import Counter
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data=pd.read_csv(url)
data.groupby(['Event gender','NOC']).count()

                  Year  City  Sport  Discipline  Event  Medal
Event gender NOC
M            AUS     3     3      3           3      3      3
             AUT   118   118    118         118    118    118
             BEL     4     4      4           4      4      4
             BLR     5     5      5           5      5      5
             BUL     1     1      1           1      1      1
...                ...   ...    ...         ...    ...    ...
X            ITA     8     8      8           8      8      8
             RUS    12    12     12          12     12     12
             UKR     1     1      1           1      1      1
             URS    21    21     21          21     21     21
             USA    11    11     11          11     11     11

[96 rows x 6 columns]

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data = data.set_index(data['Medal'])
data.loc['Gold']
data[(data['Medal']=='Gold') & (data['Event gender']=='M') & (data['NOC']=='USA')]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
Medal,,,,,,,,
Gold,1924,Chamonix,Skating,Speed skating,USA,500m,M,Gold
Gold,1928,St. Moritz,Bobsleigh,Bobsleigh,USA,five-man,M,Gold
Gold,1928,St. Moritz,Bobsleigh,Skeleton,USA,individual,M,Gold
Gold,1932,Lake Placid,Bobsleigh,Bobsleigh,USA,four-man,M,Gold
Gold,1932,Lake Placid,Bobsleigh,Bobsleigh,USA,two-man,M,Gold
Gold,1932,Lake Placid,Skating,Speed skating,USA,10000m,M,Gold
Gold,1932,Lake Placid,Skating,Speed skating,USA,1500m,M,Gold
Gold,1932,Lake Placid,Skating,Speed skating,USA,5000m,M,Gold
Gold,1932,Lake Placid,Skating,Speed skating,USA,500m,M,Gold
Gold,1936,Garmisch-Partenkirchen,Bobsleigh,Bobsleigh,USA,two-man,M,Gold
Gold,1948,St. Moritz,Bobsleigh,Bobsleigh,USA,four-man,M,Gold
Gold,1948,St. Moritz,Skating,Figure skating,USA,individual,M,Gold
Gold,1952,Oslo,Skating,Figure skating,USA,individual,M,Gold
Gold,1952,Oslo,Skating,Speed skating,USA,500m,M,Gold
Gold,1956,Cortina d'Ampezzo,Skating,Figure skating,USA,individual,M,Gold
Gold,1960,Squaw Valley,Ice Hockey,Ice Hockey,USA,ice hockey,M,Gold
Gold,1960,Squaw Valley,Skating,Figure skating,USA,individual,M,Gold
Gold,1964,Innsbruck,Skating,Speed skating,USA,500m,M,Gold
Gold,1976,Innsbruck,Skating,Speed skating,USA,1000m,M,Gold
Gold,1980,Lake Placid,Ice Hockey,Ice Hockey,USA,ice hockey,M,Gold
Gold,1980,Lake Placid,Skating,Speed skating,USA,10000m,M,Gold
Gold,1980,Lake Placid,Skating,Speed skating,USA,1000m,M,Gold
Gold,1980,Lake Placid,Skating,Speed skating,USA,1500m,M,Gold
Gold,1980,Lake Placid,Skating,Speed skating,USA,5000m,M,Gold
Gold,1980,Lake Placid,Skating,Speed skating,USA,500m,M,Gold
Gold,1984,Sarajevo,Skating,Figure skating,USA,individual,M,Gold
Gold,1984,Sarajevo,Skiing,Alpine Skiing,USA,downhill,M,Gold
Gold,1984,Sarajevo,Skiing,Alpine Skiing,USA,slalom,M,Gold
Gold,1988,Calgary,Skating,Figure skating,USA,individual,M,Gold
Gold,1994,Lillehammer,Skating,Speed skating,USA,1000m,M,Gold
Gold,1994,Lillehammer,Skiing,Alpine Skiing,USA,downhill,M,Gold
Gold,1998,Nagano,Skiing,Freestyle Ski.,USA,aerials,M,Gold
Gold,1998,Nagano,Skiing,Freestyle Ski.,USA,moguls,M,Gold
Gold,2002,Salt Lake City,Bobsleigh,Skeleton,USA,individual,M,Gold
Gold,2002,Salt Lake City,Skating,Short Track S.,USA,1500m,M,Gold
Gold,2002,Salt Lake City,Skating,Speed skating,USA,1500m,M,Gold
Gold,2002,Salt Lake City,Skating,Speed skating,USA,500m,M,Gold
Gold,2002,Salt Lake City,Skiing,Snowboard,USA,Half-pipe,M,Gold
Gold,2006,Turin,Skating,Short Track S.,USA,500m,M,Gold
Gold,2006,Turin,Skating,Speed skating,USA,1000m,M,Gold
Gold,2006,Turin,Skating,Speed skating,USA,5000m,M,Gold
Gold,2006,Turin,Skating,Speed skating,USA,500m,M,Gold
Gold,2006,Turin,Skiing,Alpine Skiing,USA,Alpine combined,M,Gold
Gold,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Gold
Gold,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold